# CI/CD Pipeline - Placeholder
# To be implemented in Story 1.5: CI/CD Pipeline - GitHub Actions
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  placeholder:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Placeholder
        run: echo "CI pipeline to be implemented in Story 1.5"
